<!--
  Generated template for the AssorterOngoing page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color= "header_colour">
    <ion-title>ONGOING PROCESS</ion-title>
           <ion-buttons end>
         <button ion-button icon-only (click)="presentPopover($event)" >
            <ion-icon name="more"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding style="background: #F6EFE5 ">
  <!--*ngIf="assorter_bookStatus == 'no_booking'"-->
<div >
    <ion-card pading>
      <ion-card-content>
        <label style="text-align:center">No Booking For you</label>
      </ion-card-content>
    </ion-card>
  </div>

<!--*ngIf="assorter_bookStatus =='waiting' "-->
  <div >
    
    <ion-card pading>
      <ion-card-header style="text-align: center;">
        Persons Information
      </ion-card-header>
      <ion-card-content>

          <table width="100%" >
            <tr>
              <td align="center">
                <img src="http://progressiveit.in/Klick_Karo/uploads/1485868795158.jpg" style="height:100px;width:130px;"></td>
            </tr>
            <tr>
                  <td align="center"> <label>Name : {{merchantProfile.merchant_email}}</label> </td> 
                  
            </tr>
            <tr>
                  <td align="center"> &nbsp; </td> 
                  
            </tr>
            <!--<tr>
                  <td align="left"> <label>E-mail : {{merchantProfile.merchant_name}}</label> </td> 
            </tr>
            <tr> 
                  <td align="left"><label>Mobile No : {{merchantProfile.merchant_mobile}}</label>  </td>
            </tr>
            <tr> 
                  <td align="left"> <label>Address : {{merchantProfile.merchant_address}}</label> </td>
            </tr>-->
            <!--<tr> 
                  <td align="left"><label>Booking HRS : {{merchantProfile.booking_hrs}} Hours</label>  </td>
            </tr><br>-->
          </table>

          <table border="0" width="100%">

              <tr>
                <td align="center">
                  <button ion-button (click)="AcceptBooking()">Accept</button>
                </td>
                <td align="center" (click)="CancleBooking()">
                  <button ion-button>Cancel</button>
                </td>
              </tr>
          
          </table>

      </ion-card-content>
    </ion-card>

  </div>

 
</ion-content>
